// ==== Colors ====

$monts-bold: "Montserrat Bold", Arial, sans-serif;
$monts-reg: "Montserrat Regular", Arial, sans-serif;
$monts-reg: "Montserrat Regular", Arial, sans-serif;
$kaushan: "KaushanScript Regular", cursive;
$robo-reg: "Roboto Regular", Arial, sans-serif;
$robo-it: "Roboto Light Italic", Arial, sans-serif;


// ==== Colors ====

$melon: #fce38a;
$blind-melon: #f6eac5;
$coral: #f38181;
$marine: #95e1d3;
$gray: #e5e5e5;

// ==== Plain styles ====

@font-face {
  font-family: "Montserrat Bold";
  font-weight: bold;
  src: url("fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat Regular";
  font-weight: normal;
  src: url("fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "KaushanScript Regular";
  font-weight: normal;
  src: url("fonts/KaushanScript-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Regular";
  font-weight: normal;
  src: url("fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Light Italic";
  font-weight: normal;
  src: url("fonts/Roboto-LightItalic.ttf") format("truetype");
}


* {
  box-sizing: border-box;
}

body {
  // width: 1920px;
  margin: 0;
}

h3, h4 {
  font-family: $monts-reg;
  text-transform: uppercase;
  color: #333333;
}

h3 {
  font-size: 14px;
  line-height: 15px;
}

p {
  margin-bottom: 9px;
  font-family: $robo-reg;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
}

.container {
  position: relative;
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  // outline: 1px solid red;
}


.subtitle {
  margin: 0;
  font-family: $kaushan;
  font-size: 24px;
  font-weight: normal;
  line-height: 22px;
  text-align: center;
  color: #333333;
}

.title {
  margin-top: 23px;
  font-family: $monts-bold;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
} 

.tiny-hr {
  width: 60px;
  height: 3px;
  margin: 0 auto;  
}


.logo {
  font-family: $monts-bold;
  font-size: 30px;
  line-height: 30px;
}

/* Grid model */

.grid-row {
  position: relative;
  margin: 0;
  font-size: 0;
}

.grid-col {
  position: relative;
  height: 100%;
  vertical-align: top;
  display: inline-block;

  &-third {
    width: calc(100% / 3)
  }

  &-fourth {
    width: 25%;
  }
  
  &-fifth {
    width: 20%;
  }

}

/* Icons */
.icon {
  display: inline-block;

  &-cart {
    background-position-x: 0;
  }

  &-magnifier {
    background-position-x: 20px;
  }

  &-alarm {
    background-position-x: 0;
  }

  &-graph {
    background-position-x: -40px;
  }

  &-comp-ok {
    background-position-x: -80px;
  }

  &-book {
    background-position-x: -120px;
  }

  &-home {
    background-position-x: -160px;
  }

  &-digital {
    background-position-x: -195px;
  }

  &-fb {
    background-position-x: 0;
  }

  &-twitter {
    background-position-x: -25px;
  }

  &-instagram {
    background-position-x: -55px;
  }

  &-pintrest {
    background-position-x: -85px;
  }

  &-google-plus {
    background-position-x: -115px;
  }

  &-youtube {
    background-position-x: -145px;
  }

  &-dribble {
    background-position-x: -175px;
  }

  &-tumblr {
    background-position-x: -205px;
  }
}

/* Form */
.form {
  padding: 0;

  input {
    width: 230px;
    height: 40px;
  }

  input[type="email"] {
    border: 3px solid #e7e7e7;
    border-right: none;

    &::placeholder {

      padding: 12px;
      font-family: $robo-it;
      font-size: 15px;
      font-style: italic;
      line-height: 24px;
      color: #e7e7e7;
    }
  }

  button {
    width: 150px;
    height: 40px;
    border: none;
    font-family: $monts-bold;
    font-size: 14px;
    text-transform: uppercase;
    background: $marine;
    color: #ffffff;

    &:hover {
      box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
      cursor: pointer;
    }
  }
}

/* NavBar */

nav{
  position: relative;
  top: 0;
  height: 68px;

  .logo {
    display: inline-block;
    position: relative;
    top: 28px;
    margin-left: 2px;
  }

  .nav-bar {
    display: inline-block;
    position: relative;
    float: right;
    text-align: center;

    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }

  .nav-btn {
    display: inline-block;
    padding: 32px 55px 12px 0;
    font-family: $monts-reg;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;

    &:last-child {
      padding-right: 0;
    }

    &:hover, &.active {
      color: $melon;
      cursor: pointer;

      &:not(.nav-icon):after {
        content: '';
        display: block;
        width: 100%;
        max-width: 62px;
        height: 3px;
        margin: 10px auto 0;
        background-color: $melon;
      }
    }
  }

  .nav-icon{
      padding-right: 42px;

    .icon {
      background-image: url('images/icons-nav-2.png');
      width: 19px;
      height: 18px;
      margin: 0 auto;
      overflow: hidden;
    }
  }
}


/* Header */

header {
  position: relative;
  height: 1000px;
  top: 0;
  left: 0;
  right: 0;
  background-image: url("images/back.jpg");
  background-size: cover;
  color: #ffffff;

  .subtitle {
    // position: relative;
    margin-top: 229px - 68px;
    margin-bottom: 0;
    font-size: 72px;
    line-height: 72px;
    color: #ffffff;
  }

  .title {
    // position: relative;
    margin: 42px 0 72px - 18px;
    font-size: 150px;
    line-height: 140px;
  }

  .tiny-hr {
    background-color: #ffffff;
  }

  .button {
    display: inline-block;

    padding: 12px 30px;
    border: 3px solid #ffffff;

    font-size: 14px;
    font-family: $monts-bold;
    line-height: 14px;
    text-decoration: none;
    text-transform: uppercase;

    color: #ffffff;

    &:hover {
      background-color: rgba(255, 255, 255, 0.4);
    }

    &-wrapper {
      margin-top: 50px;
      text-align: center;
    }
  }

  .lower-nav {
    counter-reset: lower-nav;
    position: absolute;
    width: calc((280px + 30px)*4);
    bottom: 0;
    


    &-btn {
      width: 280px;

      border-top: 3px solid $blind-melon;
      margin-right: 30px;
      padding: 25px 0;

      font-size: 14px;
      font-family: $monts-reg;
      line-height: 14px;
      text-transform: uppercase;

      color: $blind-melon;    

      &:hover, &.active {
        border-color: #ffffff;
        color: #ffffff;
        cursor: pointer;
      }
          
      span:before {
        counter-increment: lower-nav;
        content: "0" counter(lower-nav);
        margin-right: 0.5em;
        font-family: $monts-bold;
        font-size: 24px;
      }
    }
  }
}

/* Info */

.info{
  padding: 91px 0 110px;

  .title {
    margin-bottom: 38px;
  }

  .tiny-hr{
    background-color: $coral;
  }

  &-content {
    height: 130px;
    margin: 42px auto 15px;

    p {
      margin: 0 120px;
      font-family: $robo-reg;
      font-size: 15px;
      line-height: 24px;
      text-align: center;
      color: #999999;
    }
  }

  &-gallery {

  }

  &-photo {
    position: relative;
    width: 380px;
    height: 250px;
    margin-right: 30px;
    background-color: $marine;

    &:last-child {
      margin: 0;
    }

    img {
      position: relative;
      width: 100%;
      height: 100%;

      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }
  }
}

/* Counter */
.counter {
  height: 270px;
  background-color: $marine;

  &-col {
    width: 240px;
    padding: 88px 0;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    color: #ffffff;

    &:last-child {
      border-right: 1px solid rgba(255, 255, 255, 0.3);
    }

    h1 {
      margin: 0 0 25px;
      font-family: $monts-bold;
      font-size: 72px;
      line-height: 52px;
      text-align: center;
    }

    p {
      font-family: $monts-reg;
      font-size: 14px;
      text-align: center;
      color: #ffffff;
    }
  }
}

/* Services */
.services {
  padding-top: 109px;

  .title {
    margin-bottom: 43px;
  }

  .tiny-hr{
    background-color: $coral;
  }

  &-grid {
    margin: 18px 0 35px;
  }

  .service {
    width: 33%;
    padding: 45px 0 35px;

    .icon {
      background-image: url('images/icons-nav.png');
      width: 40px;
      height: 35px;
      margin: 0 auto;
      overflow: hidden;
    }

    &-icon {
      width: 90px;
      text-align: center;
    }

    &-content {
      width: calc(100% - 90px);

      h3 {
        margin-top: 0;
      }

    }
  }
}

/* Footer */

footer {
  position: relative;
  padding-top: 64px;
  bottom: 0;
  background-color: #f8f8f8;

  h3 {
    margin-bottom: 38px;
  }

  .footer {
    
    &-content {
      padding: 69px 0 69px 0;
    }
    
    &-small {
      font-family: $robo-it;
      color: #333333;
    }

    &-social {
      width: calc(100% - 420px - 270px);
      padding-right: 30px;

      p {
        margin-bottom: 9px;
        font-family: $robo-reg;
        font-size: 15px;
        line-height: 24px;
        color: #999999;
      }

      .logo {
        margin-bottom: 35px;
        font-size: 46px;
        line-height: 46px;
        color: #cccccc;
      }

      .followers-counter {
        padding: 30px 0 11px;
        border-bottom: 1px solid $gray;
        font-family: $monts-reg;
        font-size: 14px;
        color: #333333;

        span {
          font-family: $monts-bold;
          font-size: 18px;
          line-height: 18px;
        }
      }

      .social {
        &-icons {
          font-family: $robo-it;
          font-style: italic;
          
          .icon {
            margin-right: 8px;
            background-image: url('images/icons-social.png');
            width: 18px;
            height: 16px;

            &:first-child {
              margin-left: 18px;
            }
          }
        }

        &-form {
          margin-top: 28px;
        }
      }


    }

    &-blogs {
      width: 420px;


      .blog {
        padding: 0 0 28px;
        
        h4 {
          margin-bottom: 4px;
          font-size: 12px;
          line-height: 16px;
        }

        &-img {
          width: 119px;
        }

        &-content {
          width: calc(100% - 119px);
          padding: 0 60px 0 20px;
        }

        &-date {
          margin: 0;
          font-size: 13px;
          font-style: italic;
        }
      }

    }

    &-insta {
      width: 270px;

      img {
        width: 88px;
        margin: 0 2px 2px 0;
      }
    }
  }

  .credits {
    border-top: 1px solid $gray;
    text-align: center;
    padding: 24px 0;

    p {
      font-family: $monts-reg;;
      font-size: 14px;
      line-height: 14px;
      color: #333333;
    }

    span {
      color: $coral;
    }
  }
}