@font-face {
  font-family: "Montserrat Bold";
  font-weight: bold;
  src: url("fonts/Montserrat-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "Montserrat Regular";
  font-weight: normal;
  src: url("fonts/Montserrat-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "KaushanScript Regular";
  font-weight: normal;
  src: url("fonts/KaushanScript-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Roboto Regular";
  font-weight: normal;
  src: url("fonts/Roboto-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Roboto Light Italic";
  font-weight: normal;
  src: url("fonts/Roboto-LightItalic.ttf") format("truetype"); }
* {
  box-sizing: border-box; }

body {
  min-width: 1200px;
  margin: 0; }

h3, h4 {
  font-family: "Montserrat Regular", Arial, sans-serif;
  text-transform: uppercase;
  color: #333333; }

h3 {
  font-size: 14px;
  line-height: 15px; }

p {
  margin-bottom: 9px;
  font-family: "Roboto Regular", Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #999999; }

.container {
  position: relative;
  height: 100%;
  width: 1200px;
  margin: 0 auto; }

.subtitle {
  margin: 0;
  font-family: "KaushanScript Regular", cursive;
  font-size: 24px;
  font-weight: normal;
  line-height: 22px;
  text-align: center;
  color: #333333; }

.title {
  margin-top: 23px;
  font-family: "Montserrat Bold", Arial, sans-serif;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase; }

.tiny-hr {
  width: 60px;
  height: 3px;
  margin: 0 auto; }

.logo {
  font-family: "Montserrat Bold", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px; }

/* Grid model */
.grid-row {
  position: relative;
  margin: 0;
  font-size: 0; }

.grid-col {
  position: relative;
  height: 100%;
  vertical-align: top;
  display: inline-block; }
  .grid-col-third {
    width: calc(100% / 3); }
  .grid-col-fourth {
    width: 25%; }
  .grid-col-fifth {
    width: 20%; }

/* Icons */
.icon {
  display: inline-block; }
  .icon-cart {
    background-position-x: 0; }
  .icon-magnifier {
    background-position-x: 20px; }
  .icon-alarm {
    background-position-x: 0; }
  .icon-graph {
    background-position-x: -40px; }
  .icon-comp-ok {
    background-position-x: -80px; }
  .icon-book {
    background-position-x: -120px; }
  .icon-home {
    background-position-x: -160px; }
  .icon-digital {
    background-position-x: -195px; }
  .icon-fb {
    background-position-x: 0; }
  .icon-twitter {
    background-position-x: -25px; }
  .icon-instagram {
    background-position-x: -55px; }
  .icon-pintrest {
    background-position-x: -85px; }
  .icon-google-plus {
    background-position-x: -115px; }
  .icon-youtube {
    background-position-x: -145px; }
  .icon-dribble {
    background-position-x: -175px; }
  .icon-tumblr {
    background-position-x: -205px; }

/* Form */
.form {
  padding: 0; }
  .form input {
    width: 230px;
    height: 40px;
    font-family: "Roboto Light Italic", Arial, sans-serif;
    font-size: 15px;
    font-style: italic;
    line-height: 24px;
    color: #999999; }
  .form input[type="email"] {
    border: 1px solid #e7e7e7;
    border-right: none;
    padding: 12px; }
    .form input[type="email"]::placeholder {
      color: #e7e7e7; }
  .form button {
    width: 150px;
    height: 40px;
    border: none;
    font-family: "Montserrat Bold", Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    background: #95e1d3;
    color: #ffffff; }
    .form button:hover {
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
      cursor: pointer; }

/* NavBar */
nav {
  position: relative;
  top: 0;
  height: 68px; }
  nav .logo {
    display: inline-block;
    position: relative;
    top: 28px;
    margin-left: 2px; }
  nav .nav-bar {
    display: inline-block;
    position: relative;
    float: right;
    text-align: center; }
    nav .nav-bar:after {
      content: '';
      display: table;
      clear: both; }
  nav .nav-btn {
    display: inline-block;
    padding: 32px 55px 12px 0;
    font-family: "Montserrat Regular", Arial, sans-serif;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase; }
    nav .nav-btn:last-child {
      padding-right: 0; }
    nav .nav-btn:hover, nav .nav-btn.active {
      color: #fce38a;
      cursor: pointer; }
      nav .nav-btn:hover:not(.nav-icon):after, nav .nav-btn.active:not(.nav-icon):after {
        content: '';
        display: block;
        width: 100%;
        max-width: 62px;
        height: 3px;
        margin: 10px auto 0;
        background-color: #fce38a; }
  nav .nav-icon {
    padding-right: 42px; }
    nav .nav-icon .icon {
      background-image: url("images/icons-nav-2.png");
      width: 19px;
      height: 18px;
      margin: 0 auto;
      overflow: hidden; }
      nav .nav-icon .icon:hover {
        filter: sepia(30) brightness(0.95) saturate(6); }

/* Header */
header {
  position: relative;
  height: 1000px;
  top: 0;
  left: 0;
  right: 0;
  background-image: url("images/back.jpg");
  background-size: cover;
  color: #ffffff; }
  header .container {
    overflow-x: hidden; }
  header .subtitle {
    margin-top: 161px;
    margin-bottom: 0;
    font-size: 72px;
    line-height: 72px;
    color: #ffffff; }
  header .title {
    margin: 42px 0 54px;
    font-size: 150px;
    line-height: 140px; }
  header .tiny-hr {
    background-color: #ffffff; }
  header .button {
    display: inline-block;
    padding: 12px 30px;
    border: 3px solid #ffffff;
    font-size: 14px;
    font-family: "Montserrat Bold", Arial, sans-serif;
    line-height: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff; }
    header .button:hover {
      background-color: rgba(255, 255, 255, 0.4); }
    header .button-wrapper {
      margin-top: 50px;
      text-align: center; }
  header .lower-nav {
    counter-reset: lower-nav;
    position: absolute;
    width: calc((280px + 30px)*4);
    bottom: 0; }
    header .lower-nav-btn {
      width: 280px;
      border-top: 3px solid #f6eac5;
      margin-right: 30px;
      padding: 25px 0;
      font-size: 14px;
      font-family: "Montserrat Regular", Arial, sans-serif;
      line-height: 14px;
      text-transform: uppercase;
      color: #f6eac5; }
      header .lower-nav-btn:hover, header .lower-nav-btn.active {
        border-color: #ffffff;
        color: #ffffff;
        cursor: pointer; }
      header .lower-nav-btn span:before {
        counter-increment: lower-nav;
        content: "0" counter(lower-nav);
        margin-right: 0.5em;
        font-family: "Montserrat Bold", Arial, sans-serif;
        font-size: 24px; }

/* Info */
.info {
  padding: 91px 0 110px; }
  .info .title {
    margin-bottom: 38px; }
  .info .tiny-hr {
    background-color: #f38181; }
  .info-content {
    height: 130px;
    margin: 42px auto 15px; }
    .info-content p {
      margin: 0 120px;
      font-family: "Roboto Regular", Arial, sans-serif;
      font-size: 15px;
      line-height: 24px;
      text-align: center;
      color: #999999; }
  .info-photo {
    position: relative;
    width: 380px;
    height: 250px;
    margin-right: 30px;
    background-color: #95e1d3; }
    .info-photo:last-child {
      margin: 0; }
    .info-photo img {
      position: relative;
      width: 100%;
      height: 100%; }
      .info-photo img:hover {
        opacity: 0.7;
        cursor: pointer; }

/* Counter */
.counter {
  height: 270px;
  background-color: #95e1d3; }
  .counter-col {
    width: 240px;
    padding: 88px 0;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    color: #ffffff; }
    .counter-col:last-child {
      border-right: 1px solid rgba(255, 255, 255, 0.3); }
    .counter-col h1 {
      margin: 0 0 25px;
      font-family: "Montserrat Bold", Arial, sans-serif;
      font-size: 72px;
      line-height: 52px;
      text-align: center; }
    .counter-col p {
      font-family: "Montserrat Regular", Arial, sans-serif;
      font-size: 14px;
      text-align: center;
      color: #ffffff; }

/* Services */
.services {
  padding-top: 109px; }
  .services hr {
    border: none;
    border-top: 1px solid #e5e5e5; }
  .services .title {
    margin-bottom: 43px; }
  .services .tiny-hr {
    background-color: #f38181; }
  .services-grid {
    margin: 18px 0 35px; }
  .services .service {
    width: 33%;
    padding: 45px 0 35px; }
    .services .service .icon {
      background-image: url("images/icons-nav.png");
      width: 40px;
      height: 35px;
      margin: 0 auto;
      overflow: hidden; }
    .services .service-icon {
      width: 90px;
      text-align: center; }
    .services .service-content {
      width: calc(100% - 90px); }
      .services .service-content h3 {
        margin-top: 0; }

/* Footer */
footer {
  position: relative;
  padding-top: 64px;
  bottom: 0;
  background-color: #f8f8f8; }
  footer h3 {
    margin-bottom: 38px; }
  footer .footer-content {
    padding: 0 0 70px; }
  footer .footer-small {
    margin: 13px 0 0;
    font-family: "Roboto Light Italic", Arial, sans-serif;
    font-size: 13px;
    line-height: 13px; }
    footer .footer-small a {
      color: #333333;
      text-decoration: none; }
      footer .footer-small a:hover {
        text-decoration: underline;
        color: #999999; }
  footer .footer-social {
    width: calc(100% - 420px - 270px);
    padding-right: 30px; }
    footer .footer-social p {
      margin-bottom: 9px;
      font-family: "Roboto Regular", Arial, sans-serif;
      font-size: 15px;
      line-height: 24px;
      color: #999999; }
    footer .footer-social .logo {
      margin-bottom: 35px;
      font-size: 46px;
      line-height: 46px;
      color: #cccccc; }
    footer .footer-social .followers-counter {
      padding: 30px 0 11px;
      border-bottom: 1px solid #e5e5e5;
      font-family: "Montserrat Regular", Arial, sans-serif;
      font-size: 14px;
      color: #333333; }
      footer .footer-social .followers-counter span {
        font-family: "Montserrat Bold", Arial, sans-serif;
        font-size: 18px;
        line-height: 18px; }
    footer .footer-social .social-icons {
      font-family: "Roboto Light Italic", Arial, sans-serif;
      font-style: italic; }
      footer .footer-social .social-icons .icon {
        margin-right: 8px;
        background-image: url("images/icons-social.png");
        width: 18px;
        height: 16px; }
        footer .footer-social .social-icons .icon:first-child {
          margin-left: 18px; }
        footer .footer-social .social-icons .icon:hover {
          filter: contrast(1.2);
          cursor: pointer; }
    footer .footer-social .social-form {
      margin-top: 26px; }
  footer .footer-blogs {
    width: 420px;
    padding-right: 30px; }
    footer .footer-blogs .blog {
      margin: 0 0 28px; }
      footer .footer-blogs .blog:last-child {
        padding: 0; }
      footer .footer-blogs .blog:hover {
        background: rgba(149, 225, 211, 0.4);
        cursor: pointer; }
        footer .footer-blogs .blog:hover img {
          opacity: 0.7; }
      footer .footer-blogs .blog h4 {
        margin-bottom: 4px;
        font-size: 12px;
        line-height: 16px; }
      footer .footer-blogs .blog-img {
        width: 119px;
        background: #95e1d3; }
      footer .footer-blogs .blog-content {
        width: calc(100% - 119px);
        padding: 0 30px 0 20px; }
      footer .footer-blogs .blog-date {
        margin: 0;
        font-family: "Roboto Light Italic", Arial, sans-serif;
        font-size: 13px; }
  footer .footer-insta {
    width: 270px; }
    footer .footer-insta-img {
      width: 88px;
      margin: 0 2px 2px 0;
      background-color: #95e1d3; }
      footer .footer-insta-img img:hover {
        opacity: 0.7;
        cursor: pointer; }
  footer .credits {
    border-top: 1px solid #e5e5e5;
    text-align: center;
    padding: 24px 0 22px; }
    footer .credits p {
      margin: 0;
      font-family: "Montserrat Regular", Arial, sans-serif;
      font-size: 14px;
      line-height: 14px;
      color: #333333; }
    footer .credits a {
      text-decoration: none;
      color: #f38181; }
      footer .credits a:hover {
        text-decoration: underline;
        filter: saturate(3); }

/*# sourceMappingURL=style.css.map */
